<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mestrado2kellyv10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nurse Navegador"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlertasActivity"></activity>
        <activity android:name=".PequenoProcedimentosActivity" />
        <activity android:name=".ProntoSocorroActivity" />
        <activity android:name=".PlanoDeCuidadosActivity" />
        <activity android:name=".ContatoActivity" />
        <activity android:name=".EvolucaoDaNavegacaoActivity" />
        <activity android:name=".DiversasComplexidadesDaRedeActivity" />
        <activity android:name=".AtencaoPersonalizadaSaudeActivity" />
        <activity android:name=".ProntuarioActivity" />
        <activity android:name=".ListaDeClientesActivity" />
        <activity android:name=".NavegadorDoPacienteActivity" />
        <activity android:name=".NovoUsuarioActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>